@charset "UTF-8";

*{
	transition:all ease 0.5s;
}

:hover{
	transition:all ease 0.5s;
}

a.nav-link{
	text-transform: lowercase;
	font-variant: small-caps;
}

h2{
	font-weight: bolder;
}

section header{
	height:auto;
	min-height: 60vh;
}

section#hello header{
	background:silver url('https://picsum.photos/id/250/900/400') center center no-repeat;
	background-size:cover;
}

section#work header{
	background:silver url('https://picsum.photos/id/350/900/400') center center no-repeat;
	background-size:cover;
}

section#contact header{
	background:silver url('https://picsum.photos/id/50/900/400') center center no-repeat;
	background-size:cover;
}

:target:before {
	content:"";
	display:block;
	height:70px;
	margin:-70px 0 0;
}
